@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*,:before,:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}
:root{
    /*--main-color:*/
    --bg-color:#ffff;
    --main-color:#6d3bff;
    --text-color:#202020;
    --headings-font-family:"Playfair Display", serif;
    --body-font-family:"Source Sans 3", sans-serif;

}
.dark-theme{
    --bg-color: #202020;
}
h1,h2,h3{
    font-family: "Rubik", sans-serif;
}
body{
    background: var(--bg-color);
    font-family: var(--body-font-family);
}
/*Home Styling*/
#home header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 19px 20px 3px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;;
    background: var(--bg-color);
    color: var(--text-color);

}
#home header .logo p{
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: 450;
    color: var(--main-color);
}
#home header .logo p span{
    color: var(--text-color);
}
#home header .logo i,.theme i{
    color: #6d3bff;
    font-size: 25px;
    margin-right: 5px;
}
#home header nav{
    width: 50%;
}
#home header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home header ul li a{
    text-decoration: none;
    font-size: 20px;
    color:var(--text-color);
    font-weight: 600;
    position: relative;
}
#home header ul li a:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color);
    transition:width .4s ease;
    height: 3px;
    width: 0;
}
#home header ul li a:hover::before{
    width: 100%;
}
#home header  button,
section.hero-section button,
form button[type="submit"]{
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--main-color);
    transition:background-color.4s 0.05s ease,color.4s 0.05s ease;

}
#home header  button:hover,
section.hero-section button:hover,
form.search-form button:hover{
    color:var(--bg-color);
    background-color: var(--main-color);
}
button:active{
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
.theme-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10%;
}
.theme{
    position: relative;
}
.theme i{
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    cursor: pointer;
}
.theme i.active{
    display: block;
}
/**/
section.hero-section{
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
section.hero-section h1{
    font-weight: bold;
    font-size:3.9rem;
    margin-bottom: 20px;
    width: 60%;
    color: var(--main-color);
}
section.hero-section p{
    font-size: 18px;
    font-family: sans-serif;
    max-width: 80%;
    font-weight: 300;
}
section.hero-section button{
    margin-top:20px;
    padding: 15px ;
}
section.hero-section .hero-Image{
    margin-top: 20px;

}
section.hero-section .hero-Image img{
    width: 450px;

}
section.search-section{
    width: 90%;
    margin: 0 auto;
}
form.search-form{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
form.search-form .row{
    width: calc(100%/3 - 50px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
form.search-form label{
    font-size: 14px;
    margin-bottom: 12px;
    color: #202020;
}

form.search-form input,
form.search-form select{
    width: 100%;
    height: 40px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0 2.85rem 0 1rem;
    letter-spacing: 2px;
}
form.search-form select option[disabled]{
    color: #b8b8b8;
}

form.search-form button{
    font-size: 18px;
    font-weight: 300;
}
form.search-form button i{
    font-weight: 500;
    margin-left: 5px;

}

/**/
